@media (min-width: 1100px){
    html{
        zoom: 175%;
    }
}
@media (max-width: 1100px) and (min-width: 975px){
    html{
        zoom: 150%;
    }
}
@media (max-width: 975px) and (min-width: 775px){
    html{
        zoom: 120%;
    }
}


@media (max-width: 450px) {
    html{
        zoom: 50%;
    }
}


body{
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}

#walls{
    background-color: black;
    width: 650px;
    height: 350px;
    margin: 0 auto;
    background-image: url("./img/grassCenter.png");
    background-repeat: repeat;
    position: relative;
    
}
#start-overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 600px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#message{
    position: absolute;
    width: 300px;
    height: 250px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 30px;
}
#message h1{
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;

}
#start-overlay button{
    display: block;
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: rgba(0,0,0,0.1);
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

#start-btn{
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    border: 2px solid navy;
}

#start-btn:hover{
    background-color: navy;
}

select#layout{
    background-color: rgba(0,0,0,0.1);
    border: 3px solid navy;
    color: white;
    font-size: 20px;
    width: 110px;
    height: 50px;
    position: absolute;
    left: 0%;
    top: 100%;
    transform: translate(0%, -100%);
}
select#layout:hover{
    background-color: navy;

}
select#layout option{
    background-color: rgba(0, 0, 128, 0.5);
    color: rgb(255, 255, 255)
}

#frame{
    background-color: white;
    width: 600px;
    height: 300px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: grid ; 
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-areas: 
    "cell-11 cell-12 cell-13 cell-14 cell-15 cell-16 cell-17"
    "cell-21 cell-22 cell-23 cell-24 cell-25 cell-26 cell-27"
    "cell-31 cell-32 cell-33 cell-34 cell-35 cell-36 cell-37"
    "cell-41 cell-42 cell-43 cell-44 cell-45 cell-46 cell-47"
    ;
}


.block{
    margin: 0;
    padding: 0;
    border: none;
    /* background-color: rgba(1, 124, 63, 0.932); */
    background-image: url("./img/grassCenter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
span#playericon{
    height: 20px;
    width: 20px;
    background: url('./img/css_sprites.png')  no-repeat left center ;
    background-size: cover ;
    display: inline-block;
    animation: play 1s steps(8) infinite;
    margin: -5px 3px;
   
}


#player{
    height: 20px;
    width: 20px;
    left: 200px;
    top: 280px;
    border-radius: 50%;
    position: absolute;
    background: url('./img/css_sprites.png')  no-repeat left center ;
    background-size: cover ;
    background-position: 0% 5px;
}



#player.flipped { 
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
 }

 @keyframes play {
    100% { background-position: -160px 0; }
 }

 
#player.move { 
    animation: play 1s steps(8) infinite;
}

.enemy{ 
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0px;
    top: 0px;
    /* background: url('./img/Flying_Monster.png')  no-repeat left center ;
    background-size: cover ; */
    /* border-radius: 50%; */
    /* animation: enemyplay 1s steps(8) infinite; */
}

/* @keyframes enemyplay {
    100% { background-position: -160px 0; }
 } */

 


.enemy#circular{
    background-color: blueviolet; 
}
.enemy#vertical{
    background-color: cornflowerblue; 
}
.enemy#horizontal{
    background-color: darkgreen; 
}

#start{
    background-image: url(img/windowKodluyoruz.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom ;
}
#finish{
    background-image: url(img/signExitInsider.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
 }


 /* first row */
.cell-11{
    grid-area: cell-11;
}
.cell-12{
    grid-area: cell-12;
}
.cell-13{
    grid-area: cell-13;
}
.cell-14{
    grid-area: cell-14;
}
.cell-15{
    grid-area: cell-15;
}
.cell-16{
    grid-area: cell-16;
}
.cell-17{
    grid-area: cell-17;
}

/* second row */
.cell-21{
    grid-area: cell-21;
}
.cell-22{
    grid-area: cell-22;
}
.cell-23{
    grid-area: cell-23;
}
.cell-24{
    grid-area: cell-24;
}
.cell-25{
    grid-area: cell-25;
}
.cell-26{
    grid-area: cell-26;
}
.cell-27{
    grid-area: cell-27;
}

/* second row */
.cell-31{
    grid-area: cell-31;
}
.cell-32{
    grid-area: cell-32;
}
.cell-33{
    grid-area: cell-33;
}
.cell-34{
    grid-area: cell-34;
}
.cell-35{
    grid-area: cell-35;
}
.cell-36{
    grid-area: cell-36;
}
.cell-37{
    grid-area: cell-37;
}

/* second row */
.cell-41{
    grid-area: cell-41;
}
.cell-42{
    grid-area: cell-42;
}
.cell-43{
    grid-area: cell-43;
}
.cell-44{
    grid-area: cell-44;
}
.cell-45{
    grid-area: cell-45;
}
.cell-46{
    grid-area: cell-46;
}
.cell-47{
    grid-area: cell-47;
}

table{
    margin: 0 auto;
}
td,th{
    padding: 5px 10px;
}
th{
    text-transform: uppercase;
}

.red{
    background-color: red !important;
}